@keyframes slightly-beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}

@keyframes obviously-beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}