* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: YouYuan, Helvetica;
  --MaxWidth: 1440px;
  --MinWidth: 1440px;
  --BoxShadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  --HomeFirstLineHeight: 400px;
  --BackBaffle: rgba(240, 248, 255, 0.8);
  --HomePartitionLineHeight: 450px;

  user-select: none; 

  /* transition: all 0.2s; */

  /* 设置过渡属性 */
  /* transition-property: all; */
  /*设置过渡时长 */
  /* transition-duration: 0.7s; */
  /* 过渡变化速率 */
  /* transition-timing-function: linear; */
  /* 过渡延时1s */
  /* transition-delay: 0s; */
}

html {
  /* 平滑滚动 */
  scroll-behavior: smooth
}


/* 文本超过长度省略，用于span，需要指定宽度 */
.text-ellipsis {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden; /*超出的文本隐藏*/
  text-overflow: ellipsis; /* 溢出用省略号*/
}

body {
  background-image: url(./assets/imgs/preview.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden;
}
/*定义滚动条宽 */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  opacity: 0;
}
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(175, 175, 175, 0.4);
}

#app {
  max-width: var(--MaxWidth);
  min-width: var(--MinWidth);
  text-align: center;
  position: flex;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100px);
}
.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s;
}

.default-video-card {
  width: 240px;
  height: 190px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
}
.default-video-card:hover {
  transform: scale(1.02);
  background-color: #f0f8ff;
  box-shadow: var(--BoxShadow);
}
.default-video-card:active {
  animation: slightly-beat 0.3s;
}



